<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>URLパラメーター</title>
</head>

<body>
	<h1>商品一覧</h1>
	<table>
		<th>商品ID</th>
		<th>商品名</th>
		<th>価格</th>
		<th>カテゴリ</th>
		<tr th:each="result : ${resultList}">
			<td th:text="${result.item_id}"></td>
			<td th:text="${result.item_name}"></td>
			<td th:text="${result.item_price}"></td>
			<td th:text="${result.category}"></td>
		</tr>
	</table>
	<hr>
	<h1>カテゴリ別検索</h1>
	<a th:href="@{/urlparamouyou/飲食品}">飲食品で検索</a><br>
	<a th:href="@{/urlparamouyou/衣服}">衣服で検索</a><br>
	<a th:href="@{/urlparamouyou/書籍}">書籍で検索</a><br>
</body>

</html>